/*.block_starter {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  opacity:0.8;
  border-radius: 18px;
  width: 1000px;
}

#logo {
  width: 40%;
  height:40%;
  margin-left: -8px;
  margin-top: -5px;
}

.name {
  font-size: 2em;
  margin-left:15px;
}

.block_details {
  margin-top: 50px;
  background-color: white;
  opacity: 0.8;
}

.test {
  margin-top: 100px;
  background-color: white;
  opacity:0.9;
  width:50%;
  border-radius: 18px;
  padding-bottom: 15px;
}

.decriptionSentence {
  text-align: center;
}

#block_details, .birthday, .langue #hobby {
  text-align: center;
  font-weight: bold;
}

#block_details .spe {
  font-size: 25px;
  font-weight: bold;
  margin-top: 8px;
}

#block_details .session, .decriptionSentence {
  font-weight: bold;
  font-size: 20px;
}

#block_details.decriptionSentence {
  font-weight: bold;
  font-size: 15px;
}

#block_starter img {
    max-width: 250px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.btn-modifier, .btn-supprimer {
  text-align: center;
}
*/

.main-container{
display:flex;
justify-content: center;

}

#block_alumnis {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-left: 100px;
margin-top: 100px;
margin-right:100px;

}

.liste_alumnis {
text-align: center;
color: black;
width: 300px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 20px;
border-radius: 150px;
}

#nb_alumni {
margin-top: 2px;
padding-top: 6px;
margin-bottom: -50px;
color: black;
text-align: center;
background-color:white;
border-radius: 20px;
opacity: 0.8;
font-family: 10px;
}

.liste_alumnis h4 {
background-color: white;
opacity: 0.8;
border-radius: 0px;
margin-bottom:0px;
margin-top:0px;
}

.liste_alumnis #campus {
background-color: white;
opacity: 0.8;
border-radius: 0px;
margin-top: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}

.h1-titre {
text-align: center;
padding-top: 10px;
background-color: white;
opacity: 0.8;
font-size:30px;
color: black;
border-radius: 18px;

}