html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-image: url('forest.jpeg');
    
}

body {
    color: #606c76;
    font-family: 'cooper black', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
  
}


.logo{
  margin-top: 40px;
  width:30%;
  opacity:0.8;
}



.block {
      display:block;
      vertical-align: middle;
      width:100px;
      }

.container{
  background-color: white;
  border-radius: 30px;
  opacity: 0.8;
  width:40%;
  
}


 .column {
  text-align: center;
 }    
    

h3{
  
  text-align: center;
  color:#666d72;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: 'cooper black', sans-serif;
}



form{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 65px;
  font-family: 'cooper black', sans-serif;
  font-size: 20px;
}

.button{
  width:75%;
  background-color: #ef9607;
  border: black 1px solid;
  color: white;
  font-size: 17px;
  font-family: 'cooper black', sans-serif;
}


#nameField{
  width:75%;
  margin-bottom: 30px;
  font-family: 'cooper black', sans-serif;
}
  


