.block_starter {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  opacity:0.8;
  border-radius: 18px;
  width: 1000px;
}

#logo {
  width: 40%;
  height:40%;
  margin-left: -8px;
  margin-top: -5px;
}

.name {
  font-size: 2em;
  margin-left:15px;
}

.block_details {
  margin-top: 50px;
  background-color: white;
  opacity: 0.8;
}

.test {
  margin-top: 100px;
  background-color: white;
  opacity:0.9;
  width:50%;
  border-radius: 18px;
  padding-bottom: 15px;
}

.decriptionSentence {
  text-align: center;
}

#block_details, .birthday, .langue #hobby {
  text-align: center;
  font-weight: bold;
}

#block_details .spe {
  font-size: 25px;
  font-weight: bold;
  margin-top: 8px;
}

#block_details .session, .decriptionSentence {
  font-weight: bold;
  font-size: 20px;
}

#block_details.decriptionSentence {
  font-weight: bold;
  font-size: 15px;
}

#block_starter img {
    max-width: 250px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.btn-modifier{
  text-align: center;
}